<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>
<div class="page-header">
  <h3>Zdobywaj punkty lojalnościowe w Grajnamaxa.pl!</h3>
</div>
<h4>Ilość Twoich punktów lojalnościowych: <span class="label label-info"><%= @points %></span></h4><br/>

<p>Z przyjemnością zawiadamiamy o nowym systemie przyznawania punktów lojalnościowych w serwisie grajnamaxa.pl</p>

<p>Za wszystkie oceny gier, komentarze oraz inne działania na Twoim koncie, będą przyznawane punkty lojalnościowe, które w przyszłości będzie można wymienić na atrakcyjne nagrody między innymi karty podarunkowe <b>iTunes</b> oraz <b>Google Play</b>.</p>

</p>Za następujące działania na grajnamaxa.pl otrzymasz punkty lojalnościowe:</p>

<ul>
<li><b>ocena gry:</b> 10</li>
<li><b>komentarz gry:</b> 10</li>
<li><b>dodaj nową grę (opcja dostępna wkrótce):</b> 100 </li>
</ul>