<% provide(:title, "O nas") %>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>

<div class="page-header">
  <h1>O Nas</h1>
</div>

<%= image_tag('o_nas.jpg', class: "img-responsive pull-left", style: "margin-right: 10px;") %>
<p>Witamy w innowacyjnym serwisie gier online grajnamaxa.pl którego celem jest dostarczenie Tobie, miłośnikowi gier komputerowych wysokiej jakości gier online dostępnych w jednym miejscu. Dokładamy wszelkich starań aby umieszczone gry w serwisie spełniły Twoje oczekiwania.</p>
<p>
Nasza misja to stworzenie precyzyjnie wykonanego i przyjemnego serwisu z grami online dla gracza. Wierzymy że komunikacja oraz połączenie to dwie rzeczy, które miłośnicy gier cenią najbardziej. Dlatego nasz bezpłatny serwis gier online pozwala podzielić się swoimi przemyśleniami i pomysłami z innymi graczami.
</p>
<p>
Ale zdajemy sobie sprawę z tego, że nie jesteśmy doskonali. Dlatego potrzebujemy Waszej pomocy. Wierzymy, że najlepsze pomysły i innowacje pochodzą od naszych graczy. Dlatego, jeśli masz jakieś uwagi oraz pomysły, które pozwolą rozwijać serwis grajnamaxa.pl w dobrym kierunku, daj nam znać. Razem możemy zbudować wspaniały świat zabawy i inspiracji. Napisz do nas na <b>kontakt.grajnamaxa@gmail.com</b> i podziel się z nami swoimi uwagami.
</p>