<% provide(:title, "Informacje dla rodziców") %>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>

<div class="page-header">
  <h1>Informacje dla rodziców</h1>
</div>

<p>Kwestię bezpieczeństwa i prywatności w internecie traktujemy niezwykle poważnie. Twoje dziecko powinno mieć możliwość zabawy w bezpiecznym środowisku.</p>
<h3>Czym jest serwis grajnamaxa.pl?</h3>
<p>Grajnamaxa.pl to serwis z grami online, oferujący duży wybór gier o przygodowych, planszowych, typu quiz i wiele innych ciekawych gier. Użytkownicy mogą interaktywnie grać z rówieśnikami, a dzięki nieustannie dodawanym nowym grom nigdy się nie nudzą!</p>
<h3>Drogi rodzicu</h3>
<p>Ważne dla bezpieczeństwa Twojego dziecka w sieci:</p>
<p>Twoje dziecko jest zawsze szczere co do swojego wieku.</p>
<p>Twoje dziecko nigdy nie podaje żadnych danych osobistych, takich jak adres zamieszkania, adres mailowy czy numer telefonu.</p>
<p>Twoje dziecko nigdy nie ujawnia swojego hasła i wybiera bezpieczną nazwę użytkownika, która nie zdradza żadnych danych osobistych i nie wzbudza niezdrowych emocji.</p>
<p>Twoje dziecko wie, że powinno przyjść do ciebie, jeśli jakiekolwiek treści lub kontakty online sprawią, że poczuje się niekomfortowo.</p>
<p>Twoje dziecko zdaje sobie sprawę, że jego profil może być widziany przez osoby trzecie (w zależności od wybranych ustawień prywatności).</p>
<h3>Kto może założyć konto na grajnamaxa.pl?</h3>
<p>Każdy, kto lubi nasze gry i chciałby zapisywać swoje najlepsze wyniki, trofea, projekty, przyjaciół i jeszcze więcej.</p>
<h3>W jaki sposób dbamy o bezpieczeństwo w serwisie grajnamaxa.pl?</h3>
<p>My sami oczywiście zwracamy uwagę na to, co dzieje się na stronie, ale ponieważ nie możemy być we wszystkich miejscach jednocześnie, stosujemy także:</p>
<p>Poproś użytkowników, aby zgłaszali każdego, kto używa obraźliwego lub nieodpowiedniego języka (komentarze, wiadomości, nazwy użytkownika) lub obrazków (awatary, projekty).</p>
<p>Użyj filtrów językowych, aby pomóc zapobiegać podobnym zdarzeniom.</p>
<h3>Ile ksztuje członkostwo?</h3>
<p>Członkostwo nic nie kosztuje. Na grajnamaxa.pl dodajemy darmowe gry.</p>