<% provide(:title, "Warunki korzystania z witryny") %>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>

<div class="page-header">
  <h1>Warunki korzystania z serwisu grajnamaxa.pl</h1>
</div>

<h3>Rozdział 1</h3>

<h4>Postanowienia ogólne</h4>

<p>Niniejszy regulamin określa ogólne zasady stanowiące prawne podstawy korzystania z Serwisu, zobowiązujące Użytkowników do ich przestrzegania. Każdy Użytkownik zobowiązany jest, z momentem podjęcia czynności zmierzających do korzystania z Serwisu, do przestrzegania niniejszego Regulaminu.</p>

<p>§ 1</p>

<p>Korzystając z serwisu grajnamaxa.pl użytkownik potwierdza, że zapoznał się z poniższym regulaminem.</p>

<p>§ 2</p>

<p>Wymagania techniczne / sprzętowe niezbędne w celu skorzystania z serwisu: komputer, dostęp do internetu, przeglądarka internetowa.</p>

<h3>Rozdział 2</h3>

<h4>Definicje</h4>

<p>Użyte w regulaminie określenia należy rozumieć następująco:</p>
<p>1) Użytkownik - osoba fizyczna, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości prawnej, która korzysta z zasobów serwisu internetowego znajdującego się pod adresem grajnamaxa.p</p>
<p>2) Administrator – właściciel serwisu grajnamaxa.pl</p>
<p>3) Serwis – serwis internetowy znajdujący się pod adresem grajnamaxa.pl</p>

<h4>Rejestracja</h4>

<p>
W celu dokonania rejestracji należy podać w odpowiednim formularzu dostępnym w serwisie: adres e-mail, nazwę, pod jaką Użytkownik zamierza występować w serwisie (login) oraz hasło, zaakceptować niniejszy regulamin.
Użytkownik uzyskuje dostęp do pełnej funkcjonalności serwisu po podaniu nazwy i hasła (logowanie).
Użytkownik ma wgląd do informacji jawnych dotyczących kont pozostałych Użytkowników.<p>
<p>
"Wyrażam zgodę na otrzymywanie informacji o utrudnieniach, zmianach czy przerwach technicznych w działaniu serwisu. Wszelkie treści, w tym zdjęcia i dane osobowe, umieszczane przeze mnie w serwisie, są prawdziwe i nie naruszają praw osób trzecich.
Wyrażam zgodę na otrzymywanie informacji i treści reklamowych od Właściciela serwisu na podany przeze mnie przy rejestracji adres e-mail.
Wyrażam zgodę na korzystanie, przetwarzanie, publikowanie, udostępnianie osobom trzecim przez Właściciela serwisu wszelkich wpisów, charakterystyk umieszczonych przeze mnie w serwisie."
</p>

<h3>Rozdział 3</h3>

<h4>Odpowiedzialność za korzystanie z Serwisu</h4>
<p>
Użytkownik zapewnia, że będzie korzystał z Serwisu, zarówno w zakresie odbioru jak i przesyłania informacji, wyłącznie w sposób zgodny z obowiązującym prawem, zasadami współżycia społecznego i dobrymi obyczajami, w poszanowaniu dla praw własności intelektualnej.</p>
<p>Grajnamaxa.pl zastrzega, że korzystanie z Serwisu odbywa się wyłącznie na koszt i ryzyko Użytkownika, nie udziela żadnej gwarancji, że korzystanie to przebiegało będzie bez błędów, wad, czy przerw jak i co do tego, że rezultat poszukiwań w Internecie sprosta oczekiwaniom Użytkownika co do merytorycznej zawartości, dokładności czy przydatności uzyskanych informacji,
</p>
<p>
Grajnamaxa.pl nie ponosi żadnej odpowiedzialności za jakiekolwiek skutki wykorzystania przez Użytkownika informacji uzyskanych za pośrednictwem Serwisu, w szczególności za konsekwencje podjętych na ich podstawie decyzji w zakresie zarządzania finansami, ochrony zdrowia, wychowania i edukacji dzieci, form spędzania wolnego czasu i wszelkich innych aspektów aktywności życiowej.
</p>

<h4>Prawa autorskie</h4>

<p>Użytkownicy zapewniają, że jakiekolwiek korzystanie przez nich za pośrednictwem Serwisu z materiałów chronionych prawami autorskimi na rzecz osób trzecich, w tym ich kopiowanie, przesyłanie i publiczne udostępnianie w Internecie odbywa się za zgodą uprawnionych podmiotów. Użytkownicy ponoszą całkowitą odpowiedzialność za jakiekolwiek szkody powstałe w wyniku ich zachowania sprzecznego z powyższym zastrzeżeniem.</p>
<p>
Grajnamax.pl zawiera tylko i wyłącznie darmowe gry online które mogą być umieszczane w serwisie wraz z krótkim opisem i instrukcją oraz obrazkiem.</p>

<h3>Rozdział 4<h3>

<h4>Usługi oferowane w serwisie</h4>

<p>Na stronach serwisu użytkownik ma mozliwość skorzystania z:</p>

gier online (usługa bezpłatna)

<h3>Rozdział 5</h3>

<h4>Postępowanie reklamacyjne</h4>


<p>§ 1</p>

<p>Reklamacje dotyczące usług świadczonych na stronie grajnamaxa.pl prosimy zgłaszać pisemnie lub drogą elektroniczną na adres email: kontakt.grajnamaxa@gmail.com</p>

</p>§ 2</p>

<p>Rozpatrzenie reklamacji następuje niezwłocznie po jej otrzymaniu. Odpowiedź w sprawie reklamacji jest wysyłana na adres e-mail Użytkownika który przesłał użytkownik lub na inny wskazany przez użytkownika adres.</p>

<h3>Rozdział 6</h3>

<h4>Dane osobowe</h4>

<p>§ 1</p>

<p>Administrator portalu nie gromadzi danych osobowych a wszelkie dane uzyskane w związku z prowadzoną korespondencją pomiędzy użytkownikiem a redakcją portalu są chronione. Podanie danych osobowych przez użytkownika jest dobrowolne. W każdym czasie użytkownik ma prawo żądać wglądu i usunięcia swoich danych jak również wszelkiej korespondencji prowadzonej z redakcją serwisu.</p>

<h3>Rozdział 7</h3>

<h4>Przerwy w funkcjonowaniu serwisu</h4>

<p>§ 1</p>

<p>Administrator informuje o możliwości wystąpienia krótkiej przerwy technicznej w funkcjonowaniu serwisu internetowego w przypadku planowanej, bieżącej obsługi i konserwacji serwera lub oprogramowania serwisu. Przed planowaną przerwą użytkownicy zostaną poinformowani drogą elektroniczną.</p>

<h3>Rozdział 8</h3>

<h4>Postanowienia końcowe</h4>

<p>§ 1</p>

<p>W sprawach nieuregulowanych w niniejszym regulaminie do świadczenia usług drogą elektroniczną, w szczególności do składania oświadczeń woli w postaci elektronicznej, stosuje się przepisy Kodeksu Cywilnego.</p>

<p>
Na wyraźne żądanie Użytkownika Administrator usuwa jego konto. Usunięcie konta nie powoduje automatycznego usunięcia wszystkich treści, jakie Użytkownik zamieścił w serwisie grajnamaxa.pl. Administrator nie usuwa w takim przypadku zamieszczonych gier, komentarzy, raportów i oddanych głosów.
</p>
<p>Administrator serwisu grajnamaxa.pl zastrzega sobie możliwość modyfikacji serwisu, jak również jego likwidację.
Zapytania dotyczące funkcjonalności serwisu grajnamaxa.pl można złożyć w formie elektronicznej. Zapytanie powinno zawierać nazwę, pod jaką Użytkownik występuje w serwisie.</p>
<p>Niniejszy regulamin może być zmieniony przez Administratora serwisu grajnamxa.pl w każdym czasie. Zmiana staje się skuteczna w terminie wskazanym przez Administratora serwisu grajnamaxa.pl, który nie może być krótszy niż 7 dni od momentu udostępnienia w serwisie zmienionego regulaminu. Użytkownik przy pierwszym logowaniu w serwisie po chwili wejścia w życie zmian zostanie powiadomiony o takich zmianach i o możliwości ich akceptacji. Odmowa akceptacji zmian jest równoznaczna z brakiem możliwości korzystania z konta.
</p>

<p>§ 2</p>

<p>Niniejszy regulamin obowiązuje od 2015.01.01</p>