<p>Cześć <%= @resource.email %>!</p>

<p>Ktoś zażądał zmiany hasła do Twojego konta. Hasło możesz zmienić wchodząc na poniższy link:</p>

<p><%= link_to 'Zmień swoje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli to nie Ty zażądałeś zmiany hasła, proszę zignoruj tę wiadomość.</p>
<p>Twoje hasło nie ulegnie zmianie dopóki nie wejdziesz na poniższy link i nie ustawisz nowego.</p>
